<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<% include head.ejs %>

<style type="text/css">
.upload-file {
  display: inline;
  width: 0px;
  height: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $("#select-file").click(function() {
    $("#input-file").click()
  })
  $("#input-file").change(function() {
    $("#file-path").val($(this).val())
  })
}) 
</script>
</head>
<body>

<% include navigator.ejs %>

<div class="container">
  <div class="page-header">
    <h2>添加新书 <small>信息填写</small></h2>
  </div>
  
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <span class="input-group-addon">书名</span>
        <input type="text" class="form-control" placeholder="必填">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">分类</span>
        <input type="text" class="form-control" placeholder="必填">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon ">隶属</span>
        <input type="text" class="form-control" placeholder="必填">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">作者</span>
        <input type="text" class="form-control" placeholder="爱填不填">
      </div>
      <br>
      
      <div class="input-group">
        <!-- <span class="input-group-addon"></span> -->
        <input id="file-path" type="text" class="form-control" style="display:inline;" readonly="readonly">
        <input id="input-file" type="file" class="upload-file" >
        <span class="input-group-btn">
          <button id="select-file" class="btn btn-primary" type="button">选择封面</button>
        </span>
      </div>
      
    </div>
    
</div>
</body>
</html>