<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>
<style type="text/css">

</style>
</head>

<script type="text/javascript">
$(document).ready(function() {
var flag = true;
$('.collapse').collapse();
$('.dropdown-toggle').dropdown();
$("#start").click(function() {
  if (flag) {
    $("#text").text("wtf");
  } else {
    $("#text").text("nonono");
  }
});

  
})

</script>

<body>
<%= include navigator.ejs %>


<div class="page-header container">
  <h1>还没有名字
    <small>人丑就要多看书</small>
  </h1>
</div>

<% include booklist.ejs %>

</body>

</html>