<!DOCTYPE html>
<html>
<head>
<% include head.ejs %>
<script type="text/javascript">
function isalpnum(str) {
  var regex = new RegExp(/^[a-zA-Z]+[0-9a-zA-Z]*$/);
  return regex.test(str);
}
function valideLength(str) {
  if (str.length>=4 && str.length<=16)
    return true;
  return false;
}
function validate(name, pwd) {
  if (!isalpnum(name) || !isalpnum(pwd)) {
    alert('regex wrong');
    location.reload();
  }
  if (!valideLength(name) || !valideLength(pwd)) {
    alert('length wrong');
    location.reload();
  }
}
$(document).ready(function() {

  $('#msg').css('display','block');
  $('.form-control').keyup(function() {
    var msgdiv = $('#msg');
    if (msgdiv.css('display')!='none') {
      $('#msg').fadeOut(1200, function() {
        $(this).css('display','none');
      })
    }
  });
  $('#submit').click(function() {
    var name = $('#username').val();
    var pwd  = $('#userpwd').val();
    if (name=='' || pwd=='') {
      alert("empty!")
      location.reload();
    }
    else {
      validate(name, pwd);
      var progress = $(this).text();
      var suburl;
      if (progress == '登陆')
        suburl = "/login";
      else if (progress == '注册')
        suburl = "/register";
      $.ajax({
        url: suburl + '/check',
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          username: name,
          userpwd: pwd
        }),
        dataType: "json",
        success: function(data, textStatus) {
          if (data == 'l0') {
            location.assign('/');
          }
          else {
            var msg;
            switch (data) {
              case 'l1':
              case 'l2':
                msg = '你登陆的不对';
                $('#msg').addClass('alert-danger');
                break;
              case 'l3':
                msg = '名字和密码是编的吧?';
                $('#msg').addClass('alert-danger');
                break;
              case 'r1':
                msg = '用户名已经存在';
                $('#msg').addClass('alert-danger');
                break;
              case 'r2':
                msg = '绝逼是你出了什么问题';
                $('#msg').addClass('alert-danger');
                break;
              case 'r3':
                msg = '注册成功啦';
                $('#msg').addClass('alert-success');
                break;
            }
            $('#msg').css('display', 'block').text(msg);
          }
        }
      });
    }
  });

});
</script>
<style type="text/css">

</style>
</head>
<body>

<%= include navigator.ejs %>

<div id="msg" class="alert"></div>

<div class="page-header container">
  <h1>还没有名字
    <small>人丑就要多看书</small>
  </h1>
</div>

<div class="container">
<div id="loginform" class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="username">个人账号</label>
    <input autocomplete="off" id="username" name="user[name]" type="email" class="form-control" id="username" placeholder="请输入个人账号">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">身份验证</label>
    <input autocomplete="off" id="userpwd" name="user[pwd]" type="password" class="form-control" id="password" placeholder="请输入密码">
  </div>
  <!-- <div class="checkbox">
    <label>
      <input id="remember" type="checkbox">记住账号
    </label>
  </div> -->
  <button id="submit" class="btn btn-default"><%=progress%></button>
</div>
</div>

</body>
</html>